{% extends 'base.html.twig' %}
{% block javascripts %}
    <script src="{{ asset('js/ad.js') }}"></script>
{% endblock %}
{% block body %}
    <h1>Post Ad</h1>

        {{ form_row(locationForm.departement) }}
        {{ form_row(locationForm.villeSearch) }}
        {{ form_row(locationForm.villeId) }}
        <div id="villesSearchContainer">
            <div id="villesContainer">
            Liste des villes associées au département ICI
            </div>
        </div>
          {# Formulaire d'annonce #}
    {{ form_start(adForm, {'attr': {'id': 'adForm'}}) }}
        {{ form_row(adForm.title) }}
        {{ form_row(adForm.text) }}
         {{ form_row(adForm.villeId, {'attr': {'type': 'hidden'}}) }}        
        <button type="submit" >Poster l'annonce</button>
    {{ form_end(adForm) }}
       
    
{% endblock %}
